footer {
  max-width: 1440px;
  margin-inline: auto;
  background: rgb(75, 75, 75);
  padding: 40px;
}

footer ul  {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
}

footer ul li a {
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
}